SHELL=/bin/bash
MAILTO=root

#*/5 * * * * root . /root/project_env.sh; java -jar /score-updater-assembly-0.0.1.jar >> /var/log/updater.log 2>&1
0 11,23 * * * root . /root/project_env.sh; java -jar /score-updater-assembly-0.0.1.jar >> /var/log/updater.log 2>&1
